body,
html {
  margin: 30;
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("../src/images/RailBoots.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
